h1 {
    border: 2px #eee solid;
    color: brown;
    /* text-align: center; */
    /* padding: 10px; */
}

.container {
    margin: auto;
    width: 90%;
    border: 3px solid green;
    padding: 5px;
  }
